body {
    background-color: red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 80px;
    background-color: #FFFF;
    border-bottom-color: #000;
    box-shadow: 8px 8px #000000;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: dodgerblue;
}

.container {
    height: 800px;
    border: 2px solid #111111;
    background-color: grey;
    position: relative;
    top: 20px;
}
.logo {
    position: absolute;
    wide: 80px;
    height: 80px;
    background-color: black;

}
p {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 150px;
    margin: 20px;
    background-color: white;

}
.footer {
    width: 100%;
    height: 80px;
    background-color: white;
    border: 5px solid black;
    border-top: 2px;
    text-align: center;
    position: relative;
}